body {
  background-image: url("background/Animatedbg.svg");
  background-size: contain;
  background-repeat: repeat;
}

h1 {
  font-family: "Rubik Iso", cursive;
  font-family: "Tilt Prism", cursive;
  -webkit-text-fill-color: #0466c8;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  letter-spacing: 20px;
}

h2,
h3 {
  color: #fff;
}

.page-header {
  padding-bottom: 15px;
  border-bottom: 1px dotted #0466c8;
}

.page-header > h1 {
  text-align: center;
  font-size: 50px;
}

.nav-elements {
  display: flex;
  justify-content: center;
}

ul {
  text-align: center;
}

.nav > li {
  display: inline-block;
  padding: 2rem;
}

a {
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px dotted #0466c8;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #0466c8;
}

.nav-pills > li.active > a:hover,
.nav-pills > li > a:hover {
  color: #fff;
  background-color: #1d7be0;
  transition: all 2ms;
}

.nav-pills > li.active > a:active,
.nav-pills > li > a:active {
  background-color: #000;
  color: #fff;
}

.form-group > button {
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px dotted #0466c8;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
}

.form-group > button:active {
  background-color: #000;
  color: #fff;
  transition: all 3ms;
}

#encode {
  padding-bottom: 20px;
}

p.alert,
.alert-info {
  background-color: #031633;
  color: #6ea8fe;
  border: 1px dotted #0466c8;
  border-radius: 0.5rem;
}

.form > .form-group > input,
.form-group > textarea {
  border: 1px dotted #0466c8;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  word-wrap: break-word;
}

input[type="file"]::file-selector-button {
  background-color: #0466c8;
  color: #fff;
  padding: 2px 10px;
  border: 1px dotted #0466c8;
  border-radius: 0.5rem;
}

canvas {
  max-width: 100%;
}

div.clearfix,
div.message {
  padding-bottom: 20px;
}

div.decode {
  padding-bottom: 20px;
}

div.binary-decode > textarea {
  padding: 20px;
}

.hiddenDownloadButton {
  display: none;
}

#downloadButton {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 7px;
  border: 1px dotted #0466c8;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
}

#downloadButton:hover {
  color: #000;
  background-color: #fff;
}

#downloadButton:active {
  background-color: #000;
  color: #fff;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  body {
    background-size: auto;
  }
  .page-header > h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
  .nav > li {
    padding: 1.5rem;
  }

  a {
    font-size: 1.2rem;
  }

  .form-group > button,
  #downloadButton {
    font-size: 1.2rem;
  }
}
